@import 'variables',
        'components/header',
        'components/footer',
        'components/breadcrumb',
        'pages/products/products-all',
        'pages/products/product-one',
        'pages/brands/brand-one',
        'pages/brands/brands-homepage';



html {
    body {
        background-color: $secondaryColor;
        font-family: 'Raleway', sans-serif;
        margin: 0;

        main {
            min-height: 50vh;
        }

        a {
            text-decoration: none;
            cursor: pointer;
        }
    }
}

 



