header {
  background-color: #171730;
  color: #dbe1e3;
}

header #banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

header #banner #socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header #banner #logo a img {
  width: 200px;
}

header #banner #tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header #banner #tools a img {
  width: 40px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #171730;
  color: #dbe1e3;
}

footer #main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 220px;
  width: 100%;
  padding-top: 20px;
}

footer #main-footer #contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}

footer #main-footer #contacts h1 {
  margin-bottom: 8px;
}

footer #main-footer #contacts p {
  margin: 5px;
}

footer #main-footer #contacts .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  margin-top: 10px;
}

footer #main-footer #contacts .socials .white {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

footer #main-footer #contacts .socials a :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer #main-footer #contacts .socials a img {
  width: 30px;
  padding-left: 10px;
}

footer #main-footer #newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #main-footer #RGPD {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-right: 70px;
}

footer #main-footer #RGPD h2 {
  margin-bottom: 8px;
}

footer #main-footer #RGPD a {
  text-decoration: none;
  color: #dbe1e3;
  margin: 5px;
}

footer #bottom-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid white;
}

footer #bottom-footer #payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 200px;
}

footer #bottom-footer p {
  margin-left: 10px;
}

#confidentialite {
  margin: 100px 300px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 90px;
}

.products .top-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.products .products-list .product-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  height: 250px;
  -webkit-box-shadow: 0px 0px 15px 1px #BEBEBE;
          box-shadow: 0px 0px 15px 1px #BEBEBE;
  margin-bottom: 35px;
  margin-left: 10px;
}

.products .products-list .product-one button {
  display: none;
  margin-top: 100px;
}

.products .products-list .product-one img {
  max-width: 400px;
}

.products .products-list .product-one img:hover button:hover {
  display: inline-block;
}

.products .products-list .product-one a, .products .products-list .product-one p {
  font-size: 15pt;
  position: relative;
  bottom: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}

.products .products-list .product-one a {
  position: relative;
  bottom: 80px;
}

.products .products-list .product-one .brand-name {
  font-weight: normal;
}

.products .products-list .product-one p {
  font-size: 13pt;
  margin: 8px 0;
}

.products .products-list .product-one #call-to-action {
  background-color: #171730;
  color: #dbe1e3;
  text-align: center;
  font-size: 18pt;
  width: 310px;
  padding: 10px 0;
  margin-top: 17px;
}

.products .products-list .product-one #call-to-action:hover {
  text-decoration: underline;
  cursor: pointer;
}

.products #show-more {
  font-size: 20pt;
  font-weight: 800;
}

.products #show-more:hover {
  text-decoration: underline;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.brand #brand-image {
  height: 511.6px;
}

.brand #brand-image:hover {
  opacity: 0.9;
}

.brand #brand-image img {
  width: 50vw;
}

.brand #informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  width: 50vw;
  text-align: center;
}

.brand #informations p {
  text-align: center;
  font-size: 14pt;
}

.brand #informations a {
  width: 350px;
  background-color: #171730;
  padding: 15px;
  font-size: 15pt;
  font-weight: 800;
  color: #dbe1e3;
  text-align: center;
  border-radius: 20px;
}

.brand #informations a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

html body {
  background-color: #dbe1e3;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

html body main {
  min-height: 50vh;
}

html body a {
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=app.css.map */