#banner-header {
    background-image:url('/images/banners/nike-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    #arrows {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        img {
            width: 100px;
            margin-right: 600px;

            &:hover {
                filter: brightness(0) invert(1);
                cursor: pointer;
            }
        }
        [alt~="arrow_01"] {
            position: relative;
            right: 30px;
            transform: rotate(180deg);
        }
        [alt~="arrow_02"] {
            position: relative;
            left: 630px;;
        }
    }
    #call-to-action {
        position: relative;
        width: 200px;
        top: 16vh;
        background-color: $primaryColor;
        opacity: 0.7;
        padding: 20px 30px;
        border-radius: 20px;
        font-size: 25pt;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
        a {
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: $secondaryColor;
        }
    }
}