header {
  background-color: #171730;
  color: #dbe1e3;
}
header #main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 20vh;
  padding: 5vh 3vw 2vh 3vw;
}
header #main #logo {
  margin-top: 2vh;
}
header #main #logo a img {
  margin: auto;
  width: 14vh;
}
header #main #socials {
  display: flex;
  flex-flow: row nowrap;
}
header #main #socials a {
  padding-right: 10px;
}
header #main #socials a img {
  width: 3vh;
  height: auto;
  filter: brightness(0) invert(1);
}
header #main #socials a img:hover {
  transform: scale(1.1);
}
header #main #features {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
header #main #features a {
  padding-right: 12px;
}
header #main #features a img {
  width: 3vh;
  filter: brightness(0) invert(1);
}
header #main #features a img:hover {
  transform: scale(1.1);
}
header #main #features form button img {
  width: 3vh;
  filter: brightness(0) invert(1);
}
header #main #features form button img:hover {
  transform: scale(1.1);
}
header #hover-underline-animation {
  display: inline-block;
  position: relative;
}
header #hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #dbe1e3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
header #hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (min-width: 150px) and (max-width: 400px) {
  header .navbar {
    font-size: 7pt;
  }
}

footer {
  background-color: #171730;
  color: #dbe1e3;
  padding: auto;
}
footer .container {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
}
footer .container h1 {
  font-size: 20pt;
}
footer .container h2 {
  font-size: 15pt;
}
footer .container #socials {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 15px;
  margin-bottom: 40px;
}
footer .container #socials a {
  padding-right: 10px;
}
footer .container #socials a img {
  width: 3vh;
  height: auto;
  filter: brightness(0) invert(1);
}
footer .container #socials a img:hover {
  transform: scale(1.1);
}

.breadcrumb {
  margin: 10px 15px;
  font-size: 11pt;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
@media (min-width: 200px) and (max-width: 699px) {
  .breadcrumb {
    font-size: 9pt;
  }
}

.products {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 30px 50px;
  color: #171730;
}
.products h1 {
  font-size: 30pt;
}
.products .products-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px 0 30px 0;
}
.products .products-list .product-one {
  display: flex;
  flex-flow: column nowrap;
  height: 40vh;
  box-shadow: 0px 0px 15px 1px #BEBEBE;
  margin: 40px 10px 30px 10px;
  padding-bottom: 10px;
}
.products .products-list .product-one img {
  width: 60vw;
}
.products .products-list .product-one .infos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 15px 20px 5px 20px;
}
.products .products-list .product-one .infos #name {
  font-size: 14pt;
}
.products .products-list .product-one .infos i {
  opacity: 0.8;
  font-size: 11pt;
}
.products .products-list .product-one .infos #price {
  font-weight: bolder;
  font-size: 14pt;
}
.products .products-list .product-one .call-to-action {
  margin: auto;
  width: 150px;
  text-align: center;
  border: 2px solid currentColor;
  border-radius: 10px;
  color: #171730;
  font-size: 12pt;
  font-weight: 100;
  overflow: hidden;
  padding: 10px 25px;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
.products .products-list .product-one .call-to-action:after {
  background-color: #171730;
  border-radius: 10px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.products .products-list .product-one .call-to-action:hover:after {
  transform: translate(0, 0);
}
.products .products-list .product-one .call-to-action:hover {
  border: 2px solid transparent;
  color: #dbe1e3;
  will-change: transform;
}
.products .show-more {
  font-size: 20pt;
  font-weight: 800;
  margin-bottom: 30px;
}
.products .show-more:hover {
  text-decoration: underline;
}

@media (min-width: 150px) and (max-width: 779px) {
  .products {
    margin: 30px 20px;
  }
  .products .products-list .product-one img {
    width: 60vw;
  }
  .products .products-list .product-one .infos {
    margin: 15px 10px;
  }
  .products .products-list .product-one .infos #name {
    font-size: 12pt;
  }
  .products .products-list .product-one .infos #brand {
    font-size: 9pt;
  }
  .products .products-list .product-one .infos #price {
    font-size: 12pt;
  }
  .products .products-list .product-one .call-to-action {
    margin: auto;
    width: 150px;
    text-align: center;
    border: 2px solid currentColor;
    border-radius: 10px;
    color: #171730;
    font-size: 11pt;
    font-weight: 100;
    overflow: hidden;
    padding: 5px 25px;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
  }
}
.container-product {
  margin: 100px 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 0 80px;
}
.container-product .product-gallery {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.container-product .product-gallery .image-list {
  display: flex;
  flex-flow: column nowrap;
}
.container-product .product-gallery .product-image {
  display: block;
}
.container-product .product-gallery .product-image img {
  width: 100vh;
}
.container-product .product-gallery .product-image img.active {
  display: block;
  margin: 0 0 0.75rem 0;
}
.container-product .product-gallery .image-list {
  display: flex;
  margin: 0 10px 18px 0;
}
.container-product .product-gallery .image-list li {
  padding-top: 10px;
}
.container-product .product-gallery .image-list img {
  width: 25vh;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.container-product .product-gallery .image-list img:hover {
  opacity: 0.7;
}
.container-product .details-product {
  margin: -50px 100px 200px 50px;
  width: 40%;
}
.container-product .details-product .titles {
  padding-bottom: 20px;
  border-bottom: solid 1px #171730;
  width: 30vw;
}
.container-product .details-product .titles h1 {
  font-size: 25pt;
  font-weight: 600;
}
.container-product .details-product .titles h2 {
  font-size: 18pt;
}
.container-product .details-product .form-product {
  font-size: 14pt;
  margin: 20px 0;
}
.container-product .details-product .form-product form div select {
  font-size: 11pt;
  width: 100px;
  height: 40px;
  margin-left: 49px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #171730;
  color: #dbe1e3;
}
.container-product .details-product .form-product form div .quantity {
  margin-left: 40px;
}
.container-product .details-product .form-product p {
  margin-top: 5px;
  font-size: 18pt;
  font-weight: 600;
}
.container-product .details-product .form-product p span {
  font-size: 10pt;
  font-weight: lighter;
}
.container-product .details-product .form-product .buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.container-product .details-product .form-product .buttons .call-to-action {
  width: 30vw;
  text-align: center;
  border: 2px solid currentColor;
  border-radius: 10px;
  color: #171730;
  font-size: 16pt;
  font-weight: 600;
  overflow: hidden;
  padding: 10px 25px;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
.container-product .details-product .form-product .buttons .call-to-action:after {
  background-color: #171730;
  border-radius: 10px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
  cursor: pointer;
}
.container-product .details-product .form-product .buttons .call-to-action:hover:after {
  transform: translate(0, 0);
  cursor: pointer;
}
.container-product .details-product .form-product .buttons .call-to-action:hover {
  cursor: pointer;
  border: 2px solid transparent;
  color: #dbe1e3;
  will-change: transform;
}
.container-product .details-product .form-product .buttons .call-to-action input:hover {
  cursor: pointer;
}
.container-product .details-product .description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 10px;
}
.container-product .details-product .description h3 {
  font-size: 12pt;
  font-weight: 600;
}
.container-product .details-product .description p {
  margin-top: 10px;
}

.similar-products {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.similar-products h2 {
  font-size: 25pt;
  font-weight: 600;
}
.similar-products .products {
  margin-top: 0;
}
.similar-products .products .products-list {
  margin-top: 20px;
}

.ac-footer .ac-icon {
  width: 30px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.ac-footer .ac-icon-love-dark {
  background: url("https://community.algolia.com/places/images/svg/icon-heart-dark-66670e8e.svg") no-repeat center center/contain;
}

.ac-icon-love-dark {
  display: block;
  position: relative;
}

.ac-icon-love-dark:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  z-index: -1;
  border-radius: 100%;
}

.ac-footer-container:hover .ac-icon-love-dark {
  -webkit-animation: pulseHeart 1s ease infinite;
          animation: pulseHeart 1s ease infinite;
  cursor: pointer;
}

.ac-footer-container:hover .ac-icon-love-dark:before {
  -webkit-animation: pulse 1s ease infinite !important;
          animation: pulse 1s ease infinite !important;
}

.ac-icon-triangle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #788795;
  position: relative;
  display: inline-block;
  margin-left: 8px;
}

.ac-footer .ac-footer-brand:hover .ac-icon-love-dark {
  background: url("https://community.algolia.com/places/images/svg/icon-heart-light-fc92b1e0.svg") no-repeat center center/contain;
}

@-webkit-keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(251, 54, 110, 0.4);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(251, 54, 110, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(251, 54, 110, 0);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(251, 54, 110, 0.4);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(251, 54, 110, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(251, 54, 110, 0);
  }
}
@-webkit-keyframes pulseHeart {
  0% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulseHeart {
  0% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 150px) and (max-width: 779px) {
  .container-product {
    padding: 0 20px;
    margin: 50px 0 0 0;
    font-size: 9pt;
    flex-flow: column;
  }
  .container-product .product-gallery {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .container-product .product-gallery .image-list {
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  .container-product .product-gallery .image-list li {
    margin: 0;
    padding: 0 5px;
  }
  .container-product .details-product {
    margin: 30px 0px;
    width: 100%;
  }
  .container-product .details-product .titles {
    width: 88vw;
  }
  .container-product .details-product .titles h1 {
    font-size: 17pt;
  }
  .container-product .details-product .titles h2 {
    font-size: 15pt;
  }
  .container-product .details-product .form-product {
    font-size: 12pt;
    margin: 20px 0;
  }
  .container-product .details-product .form-product form div select {
    font-size: 11pt;
    height: 30px;
    margin-left: 30px;
  }
  .container-product .details-product .form-product form div .quantity {
    margin-left: 21px;
  }
  .container-product .details-product .form-product p {
    margin-top: 5px;
    font-size: 17pt;
  }
  .container-product .details-product .form-product p span {
    font-size: 10pt;
  }
  .container-product .details-product .form-product .buttons .call-to-action {
    width: 100vw;
    font-size: 14pt;
    font-weight: 600;
  }
  .container-product .details-product .description {
    margin-top: 35px;
  }
  .container-product .details-product .description h3 {
    font-size: 11pt;
  }
  .container-product .details-product .description p {
    margin-top: 9px;
  }

  .ac-footer .ac-icon {
    margin-left: 10px;
  }

  .similar-products {
    margin: 60px 0 0 0;
  }
  .similar-products h2 {
    font-size: 16pt;
  }
  .similar-products p {
    font-size: 9pt;
  }
}
@media (min-width: 780px) and (max-width: 1200px) {
  .container-product {
    margin: 100px 0 80px 0;
    justify-content: center;
    padding: 0 20px;
  }
  .container-product .details-product {
    margin: -80px 0 0 30px;
    width: 40%;
  }
  .container-product .details-product .titles h1 {
    font-size: 18pt;
  }
  .container-product .details-product .titles h2 {
    font-size: 14pt;
  }
  .container-product .details-product .form-product {
    font-size: 14pt;
  }
  .container-product .details-product .form-product .buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .container-product .details-product .form-product .buttons .call-to-action {
    font-size: 13pt;
  }
  .container-product .details-product .form-product p {
    margin-top: 5px;
    font-size: 16pt;
  }
  .container-product .details-product .form-product p span {
    font-size: 8pt;
  }
  .container-product .details-product .description {
    margin-top: 30px;
  }
  .container-product .details-product .description p {
    margin-top: 5px;
    font-size: 10pt;
  }

  .similar-products {
    margin-top: 30px;
  }
}
.brand-image {
  width: 25vh;
  margin: 10px 0 15px 0;
}

.brand {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
}
.brand a:hover {
  opacity: 0.9;
}
.brand a img {
  width: 50vw;
}
.brand #informations {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 50px 20px 0;
  width: 50vw;
  text-align: center;
}
.brand #informations p {
  text-align: center;
  font-size: 14pt;
  margin-bottom: 50px;
}
.brand #informations .call-to-action {
  margin: auto;
  width: 400px;
  text-align: center;
  border: 2px solid currentColor;
  border-radius: 10px;
  color: #171730;
  font-size: 16pt;
  font-weight: 100;
  overflow: hidden;
  padding: 10px 25px;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
.brand #informations .call-to-action:after {
  background-color: #171730;
  border-radius: 10px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.brand #informations .call-to-action:hover:after {
  transform: translate(0, 0);
}
.brand #informations .call-to-action:hover {
  border: 2px solid transparent;
  color: #dbe1e3;
  will-change: transform;
  transform: scale(1.05);
}
@media (min-width: 300px) and (max-width: 780px) {
  .brand {
    flex-flow: column nowrap;
    justify-content: center;
  }
  .brand a img {
    width: 100vw;
  }
  .brand #informations {
    padding: 20px 0px;
    width: 85vw;
    text-align: center;
  }
  .brand #informations p {
    font-size: 12pt;
    margin-bottom: 20px;
  }
  .brand #informations .call-to-action {
    width: 80vw;
    font-size: 14pt;
  }
}

.call-to-action {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 200px;
  text-align: center;
  border: 2px solid currentColor;
  border-radius: 10px;
  color: #dbe1e3;
  font-size: 12pt;
  font-weight: 100;
  overflow: hidden;
  padding: 10px 25px;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
.call-to-action:after {
  background-color: #dbe1e3;
  border-radius: 10px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.call-to-action:hover:after {
  transform: translate(0, 0);
}
.call-to-action:hover {
  border: 2px solid transparent;
  color: #171730;
  will-change: transform;
}

.container h1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 25pt;
}
.container a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container form input:hover {
  cursor: pointer;
  text-decoration: underline;
}

.admin-navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 50px 0px;
}
.admin-navbar a {
  font-size: 12pt;
  margin: 0 15px 50px 15px;
  background-color: #171730;
  color: #dbe1e3;
  padding: 15px 30px;
  border-radius: 15px;
}
.admin-navbar a:hover {
  transform: scale(1.05);
}

#content {
  margin: 100px 200px;
}
#content h1, #content h2, #content h3 {
  margin: 20px 0;
}
#content p {
  margin-bottom: 30px;
}

html body {
  background-color: #dbe1e3;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
html body main {
  min-height: 50vh;
}
html body a {
  text-decoration: none;
  cursor: pointer;
}
