#admin {
    margin: 80px 200px;

    #admin-menu {
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            li {
                list-style-type: none;
                margin: 0 10px;

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    #admin-data {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: 50px;
    }
}